* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins";
  color: #fff;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: black;
}
.container {
  position: relative;
  width: 750px;
  height: 450px;
  border: 2px solid black;
  box-shadow: 0 0 25px black;
  overflow: hidden;
}
.container .form-box {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.form-box.login {
  left: 0;
  padding: 0 40px;
}
.form-box.login .animation {
  transform: translateY(0%);
  transition: 0.7s;
  opacity: 1;
  transition-delay: calc(0.1s * var(--D));
}
.container.active .form-box.login .animation {
  transform: translateY(-120%);
  opacity: 0;
}
.form-box.Register {
  right: 0;
  padding: 0 60px;
}
.form-box.Register .animation {
  transform: translateY(0%);
  transition: 0.7s ease;
  opacity: 0;
  transition-delay: calc(0.1s * var(--D));
}
.container.active .form-box.Register .animation {
  transform: translateY(-120%);
  opacity: 0;
}
.form-box h2 {
  font-size: 32px;
  text-align: center;
}
.form-box .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin-top: 20px;
}
.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  border-bottom: 2px solid #fff;
  padding-right: 23px;
  transition: 0.5s;
}
.input-box input:focus,
.input-box input:valid {
  border-bottom: 2px solid white;
}
.input-box label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 16px;
  color: #fff;
  transition: 0.5s;
}
.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: -5px;
  color: white;
}
.input-box i {
  position: absolute;
  top: 50%;
  right: 0;
  font-size: 18px;
  transform: translateY(-50%);
  transition: 0.5s;
}
.input-box input:focus ~ i,
.input-box input:valid ~ i {
  color: white;
}
.btn {
  position: relative;
  width: 100%;
  height: 45px;
  background: transparent;
  border-radius: 40px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  border: 2px solid white;
}
.btn ::before {
  content: "";
  position: absolute;
  height: 300%;
  width: 100%;
  background: linear-gradient(#25252b, white, #25252b, white);
  top: -100;
  left: 0;
  z-index: -1;
  transition: 0.5s;
}
.btn:hover:before {
  top: 0;
}
.regi-link {
  font-size: 14px;
  text-align: center;
  margin: 20px 0 10px;
}
.regi-link a {
  text-decoration: none;
  color: white;
  font-weight: 600;
}
.regi-link:hover {
  text-decoration: underline;
}
.info-content {
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.info-content.login {
  right: 0;
  text-align: right;
  padding: 0 40px 60px 150px;
}
.info-content.Register {
  right: 0;
  text-align: right;
  padding: 0 40px 60px 150px;
  display: none;
}
.info-content h2 {
  text-transform: uppercase;
  font-size: 36px;
  line-height: 1.3;
  color: black;
}
.info-content p {
  font-size: 20px;
  text-align: center;
  /* Optional background color */
  padding: 20px;
}
.container .curved-shadow {
  position: absolute;
  right: 0;
  top: -5px;
  height: 600px;
  width: 850px;
  background: white;
  /* transform: rotate(10deg) skewY(40deg);*/
  transform: rotate(10deg) skewY(40deg);
  transform-origin: bottom right;
  transition: 1.5s ease;
}
.container.active .curved-shape {
  transform: rotate(0deg) skewY(0deg);
}
.container .curved-shadow2 {
  position: absolute;
  left: 250px;
  top: 100%;
  height: 700px;
  width: 850px;
  background: #25252b;
  border-top: 3px solid white;
  transform: rotate(0deg) skewY(0deg);
  transform-origin: bottom left;
  transition: 1.5s ease;
}
.container.active .curved-shape2 {
  transform: rotate(-11deg) skewY(-41deg);
  transition-delay: 1.2s;
}

.signin-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  width: 100%;
  height: 45px;
  background: transparent;
  border-radius: 40px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  border: 2px solid white;
}
